<div class="main-content" fxLayout="row" fxLayout.sm="column">
  <div class="main-title" fxLayout="column" fxLayout.sm="column" fxFlex.lg="50%" fxFlex.md="50%">
    <h1>Автоматизированая штукатурка стен</h1>
    <p class="main-subtitle">Идеально ровные стены<br>в кратчайшые строки</p>
    <div class="main-sale" fxLayout="row" fxFlex="30%" fxFlex.sm="20%" >
      <span>Стоимость работ <br>от <strong>300</strong> руб/м<sup>2</sup></span>
    </div>
    <strong class="main-trigger">Оплата по факту</strong>
  </div>
    <div class="main-form" fxLayout.lg="column" fxFlex.lg="35%" fxFlex.md="45%" fxFlexOffset.lg="15%" fxFlexOffset.md="5%">
          <h2 class="main-form-header">Для рассчета точной стоймости закажите <strong>выезд замерщика</strong></h2>
          <form action="#">
            <label for="#" class="label-form-1">Ваше имя</label>
            <input class="main-form-input" type="text">
            <label for="#" class="label-form-2">Номер телефона</label>
            <input class="main-form-input" type="text">
            <button class="main-form-btn btn" type="submit">Оставить заявку</button>
            <small>Подарок в день обращения</small>
          </form>
  </div>
</div>
